{% extends 'base_layout.html' %}

{% block content %}
<h1>Results</h1>
    <h2>DateTime : {{time}}</h2>
    <script type="text/javascript">
        function codeAddress() {
            var lat = document.getElementById("lat_num").innerHTML;
            lat=parseFloat(lat);

            var lon = document.getElementById("lon_num").innerHTML;
            lon=parseFloat(lon);
            var H;
            var V;
            if(lat<0){
                document.getElementById('latitude').innerHTML = "S";
                document.getElementById('lat_num').innerHTML = Math.abs(lat);
            }else{
                document.getElementById('latitude').innerHTML = "N";
                
            }
            if(lon<0){
                document.getElementById('longitude').innerHTML = "W";
                document.getElementById('lon_num').innerHTML = Math.abs(lon);
            }else{
                document.getElementById('longitude').innerHTML = "E";
            }
            
        }
        window.onload = codeAddress;
        </script>
    <h2>Location: <text id="lat_num">{{lat}}</text> <text class="latitude" id="latitude">N</text>, <text id="lon_num">{{lon}}</text> <text class="longitude" id="longitude">E</text> 
    </h2>
    
    
    <div class="images">
        <figure  >
            <img src="/static/aspect_grid.jpg" class="aspect_grid">
            <figcaption>Aspect Grid</figcaption>
        </figure>
        <figure >
            <img src="/static/natal_chart.jpg" class="natal_chart">
            <figcaption>Natal Chart</figcaption>
        </figure>
        
        
    </div>
    <div class= "result_tables">
        <table class="points_report">  
            <caption style="text-align:center">Points Report</caption> 
            <tr>
                <th>Body1</th>
                <th>Body2</th>
                <th>Shape</th>
                <th>DegreeType</th>
                <th>Degree</th>
            </tr>
            {% for a in aspect %}
            <tr>
                {% for i in a %}
                    <td>{{i}}</td>
                {% endfor %}
            </tr>
            {% endfor %}    
        </table>
        <table class="aspect_grid_report">
            <caption style="text-align:center">Aspect Grid Report</caption> 
            <tr>
                <th>Point</th>
                <th>Zodiac</th>
                <th>Z_Latitude</th>
                <th>House</th>
                <th>RA</th>
            </tr>
            {% for p in point %}
            <tr>
                {% for i in p %}
                    <td>{{i}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    
    
{% endblock %}