{% extends 'base_layout.html' %}

{% block content %}
<h1>Results</h1>
    <img src="/static/aspect_grid.jpg" >
    <table>   
        <tr>
            <th>Body1</th>
            <th>Body2</th>
            <th>Shape</th>
            <th>DegreeType</th>
            <th>Degree</th>
        </tr>
        {% for a in aspect %}
        <tr>
            {% for i in a %}
                <td>{{i}}</td>
            {% endfor %}
        </tr>
        {% endfor %}    
    </table>
    <table>
        <tr>
            <th>Point</th>
            <th>Zodiac</th>
            <th>Z_Latitude</th>
            <th>House</th>
            <th>RA</th>
        </tr>
        {% for p in point %}
        <tr>
            {% for i in p %}
                <td>{{i}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    
{% endblock %}