body{
    background-image : url(/static/background.jpg);
    background-color: #0f121f;
    color: #fff;
}

/* .wrapper{
    display: grid;
    
    padding: 10px 0;
} */

.wrapper input{
    margin:0 0 10px  0 ;
    display: grid;
    grid-row: 1fr 1fr;
}
.images{
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items: center;
    justify-items: center;
}
.images .natal_chart{
    border-radius: 75%;
    width:75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.images .aspect_grid{
    
    width:90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.result_tables{
    margin-top:30px; 
    display:grid;
    grid-template-columns:1fr 1fr;
}

.result_tables .aspect_grid_report{
    margin: 0 20px;
    border-style:solid;
    border-color:gray;
    border-width:2px;
    border-spacing:0px;
    border-radius:1px;

}
.result_tables .points_report{
    margin: 0 20px;
    border-style:solid;
    border-color:gray;
    border-width:2px;
    border-spacing:0px;
    border-radius:1px;
}

th,td{
    border: 1px solid white;

}
figcaption{
    font-weight:bold;
    text-align:center;
    font-style:italic;
}
.coordinates{
    display: block;
    grid-template-columns: auto;
}