body{
    background-image : url(/static/background.jpg);
    background-color: #0f121f;
    color: #fff;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 10px 0;
}

.wrapper input{
    margin:0 0 10px  0 ;

}