body{
    background-image : url(/static/background.jpg);
    background-color: #0f121f;
    color: #fff;
}

/* .wrapper{
    display: grid;
    
    padding: 10px 0;
} */


.images{
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items: center;
    justify-items: center;
}
.images .natal_chart{
    border-radius: 75%;
    width:75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.images .aspect_grid{
    
    width:90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.result_tables{
    margin-top:30px; 
    display:grid;
    grid-template-columns:1fr 1fr;
}

.result_tables .aspect_grid_report{
    margin: 0 20px;
    border-style:solid;
    border-color:gray;
    border-width:2px;
    border-spacing:0px;
    border-radius:1px;
    height:200px;
    overflow:scroll;

}
.result_tables .points_report{
    margin: 0 20px;
    border-style:solid;
    border-color:gray;
    border-width:2px;
    border-spacing:0px;
    border-radius:1px;
    height:200px;
    overflow:scroll;
}

th,td{
    border: 1px solid white;
    font-size: 1.1em;

}
caption{
    font-size: 1.2em;
    font-weight: bold;
}
figcaption{
    font-weight:bold;
    text-align:center;
    font-style:italic;
}

.wrapper, header{
    max-width:1200px;
    margin:0 auto;
}

div.wrapper h1{
    text-align:center;
    margin:90px auto;
    font-size:2.4em;
}
header{
    display:grid;
    grid-template-columns:1fr 1fr;
    padding:10px 0;
}
nav{
    justify-self:end;
}
nav li{
    display:inline-block;
    margin-left:20px;

}
nav button{
    background:none;
    color:white;
    cursor:pointer; 
    border:0;
    font-size:1em;
    
}
.site-form{
    margin-top:60px;
    border:1px solid #00dba0;
    padding:20px;
}

.site-form input{
    display:block;
    padding:5px;
}
.site-form label{
    display:block;
    margin:10px 0 0 0;
}


a{
    border:1px solid #00dba0;
    padding:10px;
    border-radius:2px;
    color:#00dba0;
    text-decoration: none;
}
.helptext, .helptext ul{
    margin: 0 auto 20px;
    color:#bbb;
    font-size:0.9em;
    display:block;
    
}
.errorlist li{
    padding:10px;
    list-style-type:none;
    border:1px solid #ff5722;
    color:#ff5722;
    margin:10px 0; 
}

.errorlist{
    padding:0;

}

.site-form input[type="submit"], .search-form input[type="submit"]{
    background:#00dba0;
    border:0;
    color:#fff;
    font-size:1.2em;
    border-radius:4px;
    margin:10px 0;
    position: relative;
    left: 50%;
    transform: translate(-50%,30%);
}
/* <--------------------------------------------------------------------------------> */
.search-form{
    display:block;
    margin-top:60px;
    border:1px solid #00dba0;
    padding:20px;
    font-size:1.2em
}
.search-form input{
    padding:5px;
    margin-bottom:10px;

}
.search-form .enter-date input, .search-form .enter-time input{
    width:100px;
}
.search-form p{
    font-size:1.4em;
    color:gray;
    margin-bottom:10px;
}