body{
    background-image : url(/static/background.jpg);
    background-color: #0f121f;
    color: #fff;
}

/* .wrapper{
    display: grid;
    
    padding: 10px 0;
} */

.wrapper input{
    margin:0 0 10px  0 ;
    display: grid;
    grid-row: 1fr 1fr;
}