{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Natal Chart</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}"  asp-append-version="true"/>
    <div class="user_name" id="id_user_name">{{request.user.username}}</div>
    <!-- type="text/css" -->
</head>
<body>
    <header>
        <h1><a href="{% url 'accounts:dash' %}" class="dash-link">Natal Chart</a></h1>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'chart:create' %}">Observe New</a>
                </li>
                <li>
                    <a href="{% url 'chart:search' %}">Search Data</a>
                </li>
                {% if user.is_superuser %}
                    <li><a href="{% url 'accounts:signup' %}">Signup New Users</a></li>
                {% endif %}
                <li>
                    <form action="{% url 'accounts:logout' %}" class="logout-link" method="POST">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </li>
                
                {% endif %}
            </ul>
        </nav>
    </header>
    {% if messages %}
            {% for message in messages %}
            <script>
                alert('{{ message }}');
            </script>
            
                
            {% endfor %}
        {% endif %}
    
    {% block content %}
    {% endblock %}
</body>
</html>