{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Natal Chart</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}"  asp-append-version="true"/>
    <!-- type="text/css" -->
</head>
<body>
    <header>
        <h1>Calculate Natal Chart</h1>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <form action="{% url 'accounts:logout' %}" class="logout-link" method="POST">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'accounts:login' %}">Login</a>
                </li> 
                <li>
                    <a href="{% url 'accounts:signup' %}">Signup</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    {% block content %}

    {% endblock %}
</body>
</html>